@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  width: 70%;
  margin: 0 auto;
  font-family: "Poppins";
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 800;
  color: #585757;
}

#guess-input {
  display: block;
  margin: 20px auto 20px;
  padding: 10px;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
}

#guess-button {
  display: block;
  margin: 0 auto;
  padding: 10px 50px;
  font-size: 20px;
  background-color: #0cba63;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:active {
  transform: scale(0.95);
}

.letter {
  border-radius: 5px;
  padding: 13px 20px 13px 20px;
  margin: 3px;
  min-width: 20px;
  text-align: center;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 600;
  color: white;
  display: inline-block;
}

.row {
  margin: 0px;
}

.input-area {
  margin: 30px;
}

#grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#grid2 {
  margin-top: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  margin-bottom: 0;
}
.empty {
  font-size: 2px;
  height: 40px;
  margin: 3px;
  background-color: #e6e6e6;
}
#reload{
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #e74c3c;
  font-family: "Poppins";
  font-size: 18px;
  color: white;

}
#dialogo{
  padding: 50px 80px 50px 80px;
  border: none;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  font-size: 30px;
}
#dialogo h1{
  font-size: 42px;
  color: black;
}
#volver{
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3ce7c2;
  font-family: "Poppins";
  font-size: 18px;
  color: white;
}
.nota{
  font-size: 20px;
}